
body {
		padding: 1%; 
		margin: 1%;
	}

	/* The header should have a background color, background image (using a local image), and padding */ 
	header {
		background: #C0C0C0; /* Silver */
		background-image: url("../images/flywheel.jpg");
		background-repeat: no-repeat;
		background-size: 100%; 
		padding: 1%;
	}

	/* The navigation links (and only the links in the navigation) should be styled with a new display, margin, border-radius, text-decoration, and padding */
	nav {
		text-align: center;
	}

	nav a {
		background-color: rgba(218,234,213,0.60);
		color: #000000; /* Black */
		display: inline-block;
		padding: 10px;
		margin: 1%; 
		text-decoration: none; 
		border-radius: 5px; 
	}

	/* The link to the current page should be styled differently from the other links (using class = "active') */ 
	.active {
		background: #FFFFFF; /* White */
	}

	/* h1 elements should be centered and have a new font color */
	h1 {
		color: #FFFFFF; /* White */
		text-align: center;
		text-transform: uppercase;
		font-family: "Trebuchet MS", Helvetica, sans-serif; 
		font-size: 25px;
		position: relative;
		top: -10px;
	}

	/* h2 elements have a new font color */
	h2 {
		color: #000000; /* Black */
		text-transform: uppercase; /* style headings to have uppercase text */
		font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
		font-size: 15px;
	}

	/* The images should be part of the page now. In addition, they should have a border, be centered horizontally, and have vertical (top/bottom) space between them and the other images. */ 
	.left {
		background: #808000; /* Olive */ 
		width: 20%;
		float: left;
		padding: 1% 0; 
		padding-bottom: 40px;
		
	}

	.left img {
		border: solid 2px #000000; /* Black */
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
		margin-top: 15%;
		margin-bottom: 2px;
	    
	}


	/* The sections should be next to each other, not one on top of the other. */
	.right {
		width: 58%;
		display: inline-block;
		padding-left: 2%;
	}

	/* a elements should be centered and have a new font color and background color */
	a {
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		font-size: 12px;
	}


	p {
		font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;	
		font-size: 125%;
	}


	 /*td, th {
	    border: 2px solid #4fbf1c80;
	    font-size: 20px;


	}
	th{
    color: #FFFFFF;
    background: #666666;
	background: -moz-linear-gradient(#666666 0%, #00b7ea 100%);
	background: -webkit-linear-gradient(#666666 0%, #00b7ea 100%);
	background: -o-linear-gradient(#666666 0%, #00b7ea 100%);
	background: linear-gradient(#666666 0%, #00b7ea 100%);
	border-radius: 5px 5px 0 0;
	border-bottom: 2px solid green; 
    }
    td{
    	background-color: #4fbf1c80;
    }
/*	table {
	    border-collapse: collapse;
	}*/

	/*td,th {
	    text-align: left;
	    height: 35px;
	}*/
    /* Table Styling */
table {
    padding: 2%;
    margin: 0 auto;
    line-height: 50px;
    width: 65%;
    padding-bottom: 5%;
}
th {
    background-color: 	#9ACD32;
    padding: 2%;
    font-variant: small-caps;
    font-size: 100%;
    color: #ffffff;
    line-height: 40px;
    border-radius: 10px 10px 0 0;
    border-bottom: 2px solid #339933;
	    }
	    th, tr td {
    text-align: center;
}
th:first-child, tr td:first-child {
    text-align: left;}
    
tr td {
    opacity: 0.6;
}
tr:hover td {
    opacity: 1;
    color: #339933;
    font-weight: bold;
    font-size:100%;
    line-height: 60px;
}

td {
    background-color: #90EE90;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 90%;
    border-bottom: 2px solid #ffffff;
}
